@font-face {
  font-family: outfit;
  src: url(../font/Outfit-Regular.ttf);
}
@font-face {
  font-family: outfitBold;
  src: url(../font/Outfit-ExtraBold.ttf);
}
.fontBold {
  font-family: outfitBold;
}

* {
  font-family: outfit;
  transition: 0.3s;
}

section {
  padding: 15vmin 0;
}