@font-face {
  font-family: outfit;
  src: url(../font/Outfit-Regular.ttf);
}
.active {
  background-color: #0e0e0e !important;
  color: white !important;
  border-radius: 5px;
}

.navLink {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #0e0e0e;
}
.navLink:hover {
  border: 2px solid #0e0e0e;
}