@import '_theme.scss';

.navLink,
.active {
	// color: $dark !important;
	position: relative;
	&::after {
		position: absolute;
		background: $dark;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: 0.3s;
	}
}
.navLink:hover::after,
.active::after {
	transform: scaleX(1);
}
